extend base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="oldPassword" placeholder="Old password")
        input(name="newPassword" placeholder="New password")
        input(name="newPassword2" placeholder="Confirm password")
        input(type="submit" )
