extend base

block content 
    if errorMessage 
        span=errorMessage 
    form(method="POST")
        input(name="name" required placeholder="name" type="text" )
        input(name="username" required placeholder="username" type="text") 
        input(name="email" required placeholder="email" type="text")
        input(name="password" required placeholder="password" type="text" )
        input(name="password2" required placeholder="confirm password" type="text" )
        input(name="location" required placeholder="location" type="text") 
        input(type="submit", value="join")

    hr
    div 
        span Already have an account?   
        a(href="/login") Login now &larr;

