extend base.pug
include ./mixins/video

block content 
    form(method="GET")
        input(name="keyword" placeholder="search by title", type="text")
        input(type="submit", value="search now")

    each video in videos 
        +video(video)